h1 {
  text-align: center;
  font-family: 'Old Standard TT', serif;
  color: white;
}

.container-fluid {
  background: -webkit-radial-gradient(lightgreen, green);
  font-family: 'Old Standard TT', serif;
  font-size: 18px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Old Standard TT', serif;
  font-size: 10px;
  line-height: 30px;

}

.startDeal {
  margin: 20px;
}

.newGame {
  margin-top: 150px;
  margin-bottom: 20px;
}

#player1Score {
  margin-top: 5px;
}

#player2Score {
  margin-top: 5px;
}

#inputs1 {
  margin-top: 100px;
}

#inputs2 {
  margin-top: 100px;
}

#cards1 {
  height: 100px;
}

#cards2 {
  height: 100px;
}

#dealer {
  height: 120px;
  margin: 20px;
}
