<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Story</title>
  <script src="//code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>
        <i class="fa fa-book"></i>
        Story Matters
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Why Give?</a></li>
        <li><a href="#">Profiles</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login">Login</button>
        <li role="separator" class="divider"></li>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#signUp">Sign Up</button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signUpLabel">Sign Up</h4>
      </div>
        <form method='POST' role="form">
          <div class="modal-body">
          
            <div class="form-group">
              <label for="name" class="hidden">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" name="name">
            </div>
            <div class="form-group">
              <label for="email" class="hidden">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label for="password" class="hidden">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <label for="password2" class="hidden">Confirm Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginLabel">Login</h4>
      </div>
      <form method="POST" role="form">
        <div class="modal-body">
          <div class="form-group">
            <label for="email" class="hidden">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="password" class="hidden">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://i.imgur.com/XZ8VEbT.jpg?1" width="100%">
      <div class="carousel-caption">
        <h3>Heather Chen</h3>
        <p>“We’d been at the shelter for just a few days when he showed up. He tracked me using the GPS on my phone. The shelter has two sets of sliding doors for security. You walk through the first door, it closes behind you, and the second door opens. He jumped inside just as the first door was closing. The kids started screaming. He pushed me to the ground. While the security was dragging him away, he was screaming that I’d stolen his children. And that everything was my fault. And it made me feel guilty. He always knew how to make me feel guilty.”</p><br>
        <button type="submit" class="btn btn-primary">Hear More</button>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/TdDWSzj.jpg?1" width="100%">
      <div class="carousel-caption">
        <h3>Thomas Mueller</h3>
        <p>“I’m thirty-three. I haven’t been on screen in over a year. Right now I’m down to $50 in my bank account and I’ve got to make $1300 in the next three days just to pay the rent. There’s a lot of pressure on me right now. The only reason I’m sitting down is because I needed a break. I just finished pitching a woman about a spa package, and she talked to me for about ten minutes. I thought I was going to make a sale. But then she told me ‘no.’ Honestly, I felt like I was going to start crying. I had to sit down. Right now I feel like I’m an arrow that can’t be pulled back any further, and is about to be released. I feel like I’m heading toward greatness. Honestly, I have no choice but to believe that. The path has been so shitty. The only way I can make sense of the world is to believe it’s leading me somewhere.”</p>
        <button type="submit" class="btn btn-primary">Hear More</button>
      </div>
    </div>
    <div class="item">
      <img src="http://i.imgur.com/D5jvw88.jpg?2" width="100%">
      <div class="carousel-caption">
        <h3>Michelle Tracy</h3>
        <p>“I lost a baby at the end of May. I was just a little over two months into the pregnancy. I wasn’t showing or anything. And I hadn’t announced the pregnancy yet. So I don’t think that the baby seemed real to anyone else. But it was real to me. Every time I passed a children’s store, I’d look in the window and smile. I began to look closely at all the different types of strollers people were pushing down the street. I bought a little monkey for the baby that I carried around with me. I started planning our life together. Then one day it felt like someone was stabbing me in the lower abs. I went to the doctor, and they told me that I’d had an ectopic pregnancy, and the baby was lost. I felt really alone afterward because most of my friends hadn’t even known the baby existed. They couldn’t understand how I felt. Part of it was my fault. I didn’t want to talk about it. Yet I still expected everyone to understand.“</p>
        <button type="submit" class="btn btn-primary">Hear More</button>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container text-center">
  <h2>How it Works</h2><br>
  <div class="col-md-4">
    <h3>CHOOSE</h3>
    <p>1. Choose a story you resonate with.</p><br><br>
    <i class="fa fa-hand-o-right fa-5x"></i>
  </div>
  <div class="col-md-4">
    <h3>GIVE</h3>
    <p>2. Set up an account and give to specific needs where 100% of your gift will be applied to someone in your local neighborhood.</p>
    <i class="fa fa-credit-card-alt fa-5x"></i>
  </div>
  <div class="col-md-4">
    <h3>SEE</h3>
    <p>3. Be able to track the outcomes and items you've given.</p><br>
    <i class="fa fa-check-square-o fa-5x"></i>
  </div> 
</div>
  <footer>
    <nav class="navbar navbar-inverse navbar-static-bottom">
      <div class="container" id="footer">
        <p>Made with <i class="fa fa-heart"></i> by James Chi &copy; 2015</p>
      </div>
    </nav>
  </footer>

<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>