<% include partials/header.ejs %>

<div class="container-fluid" id="myAccountBackground">
  <h2 class="cinzel text-center">YOUR ACCOUNT</h2>
  <div class="row">
    <div class="col-md-4">
    <% if(currentUser.image == undefined){ %>
    <img src="http://placehold.it/250x250" class="userPic img-circle">
    <% } else { %>
    <img src="<%= currentUser.image %>" class="userPic img-circle">
    <% } %>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>Name: <%= currentUser.firstName + ' ' + currentUser.lastName %></li>
        <li>Date Joined: <%= currentUser.createdAt %></li>
        <li>Funds Contributed: <%= currentUser.fundsGiven %></li><br>
        <a href="#" class="btn btn-primary" role="button">Edit profile</a>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="cinzel text-center">People You Support</h2>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/242x200" alt="...">
        <div class="caption">
          <h3>Sample Name</h3>
          <p>Sample Text</p>
          <p><a href="#" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/242x200" alt="...">
        <div class="caption">
          <h3>Sample Name</h3>
          <p>Sample Text</p>
          <p><a href="#" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/242x200" alt="...">
        <div class="caption">
          <h3>Sample Name</h3>
          <p>Sample Text</p>
          <p><a href="#" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="cinzel text-center">Outcomes</h2>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/242x200" alt="...">
        <div class="caption">
          <h3>Sample Name</h3>
          <p>Sample Text</p>
          <p><a href="#" class="btn btn-primary" role="button">Contribute</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/242x200" alt="...">
        <div class="caption">
          <h3>Sample Name</h3>
          <p>Sample Text</p>
          <p><a href="#" class="btn btn-primary" role="button">Contribute</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/242x200" alt="...">
        <div class="caption">
          <h3>Sample Name</h3>
          <p>Sample Text</p>
          <p><a href="#" class="btn btn-primary" role="button">Contribute</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>


