<% include partials/header.ejs %>

<div class="container-fluid" id="profilesBackground">
  <div class="row">
    <div class="col-md-12">
    <h2 class="cinzel text-center">People You Can Support</h2>
    </div>
  </div>
  <div class="row row-eq-height">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/XZ8VEbT.jpg?1" alt="...">
        <div class="caption">
          <h3 class="text-center">Heather Chen</h3>
          <p class= "text-left">“We’d been at the shelter for just a few days when he showed up. He tracked me using the GPS on my phone. The shelter has two sets of sliding doors for security. You walk through the first door, it closes behind you, and the second door opens. He jumped inside just as the first door was closing. The kids started screaming. He pushed me to the ground. While the security was dragging him away, he was screaming that I’d stolen his children. And that everything was my fault. And it made me feel guilty. He always knew how to make me feel guilty.”</p>
          <p class= "text-center"><a href="/person/4" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/TdDWSzj.jpg?1" alt="...">
        <div class="caption">
          <h3 class="text-center">Thomas Mueller</h3>
          <p class= "text-left">“I’m thirty-three. I haven’t been on screen in over a year. Right now I’m down to $50 in my bank account and I’ve got to make $1300 in the next three days just to pay the rent. There’s a lot of pressure on me right now. The only reason I’m sitting down is because I needed a break. I just finished pitching a woman about a spa package, and she talked to me for about ten minutes. I thought I was going to make a sale. But then she told me ‘no.’ Honestly, I felt like I was going to start crying. I had to sit down. Right now I feel like I’m an arrow that can’t be pulled back any further, and is about to be released. I feel like I’m heading toward greatness. Honestly, I have no choice but to believe that. The path has been so shitty. The only way I can make sense of the world is to believe it’s leading me somewhere.”</p>
          <p class= "text-center"><a href="/person/5" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/D5jvw88.jpg?2" alt="...">
        <div class="caption">
          <h3 class="text-center">Michelle Tracy</h3>
          <p class= "text-left">“I lost a baby at the end of May. I was just a little over two months into the pregnancy. I wasn’t showing or anything. And I hadn’t announced the pregnancy yet. So I don’t think that the baby seemed real to anyone else. But it was real to me. Every time I passed a children’s store, I’d look in the window and smile. I began to look closely at all the different types of strollers people were pushing down the street. I bought a little monkey for the baby that I carried around with me. I started planning our life together. Then one day it felt like someone was stabbing me in the lower abs. I went to the doctor, and they told me that I’d had an ectopic pregnancy, and the baby was lost. I felt really alone afterward because most of my friends hadn’t even known the baby existed. They couldn’t understand how I felt. Part of it was my fault. I didn’t want to talk about it. Yet I still expected everyone to understand.“</p>
          <p class= "text-center"><a href="/person/6" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
