<% include partials/header.ejs %>

<div class="container-fluid" id="profilesBackground">
  <div class="row">
    <div class="col-md-12">
    <h2 class="cinzel text-center">People You Can Support</h2>
    </div>
  </div>
  <div class="row equal">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/XZ8VEbT.jpg?1" alt="...">
        <div class="caption">
          <h3 class="text-center">Heather Chen</h3>
          <p class= "text-left">“We’d been at the shelter for just a few days when he showed up. He tracked me using the GPS on my phone. The shelter has two sets of sliding doors for security. You walk through the first door, it closes behind you, and the second door opens. He jumped inside just as the first door was closing. The kids started screaming. He pushed me to the ground. While the security was dragging him away, he was screaming that I’d stolen his children. And that everything was my fault. And it made me feel guilty. He always knew how to make me feel guilty.”</p>
          <p class= "text-center"><a href="/person/25" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/TdDWSzj.jpg?1" alt="...">
        <div class="caption">
          <h3 class="text-center">Thomas Mueller</h3>
          <p class= "text-left">“I’m thirty-three. I haven’t been on screen in over a year. Right now I’m down to $50 in my bank account and I’ve got to make $1300 in the next three days just to pay the rent. There’s a lot of pressure on me right now. The only reason I’m sitting down is because I needed a break. I just finished pitching a woman about a spa package, and she talked to me for about ten minutes. I thought I was going to make a sale. But then she told me ‘no.’ Honestly, I felt like I was going to start crying. I had to sit down. Right now I feel like I’m an arrow that can’t be pulled back any further, and is about to be released. I feel like I’m heading toward greatness. Honestly, I have no choice but to believe that. The path has been so shitty. The only way I can make sense of the world is to believe it’s leading me somewhere.”</p>
          <p class= "text-center"><a href="/person/26" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/D5jvw88.jpg?2" alt="...">
        <div class="caption">
          <h3 class="text-center">Michelle Tracy</h3>
          <p class= "text-left">“I lost a baby at the end of May. I was just a little over two months into the pregnancy. I wasn’t showing or anything. And I hadn’t announced the pregnancy yet. So I don’t think that the baby seemed real to anyone else. But it was real to me. Every time I passed a children’s store, I’d look in the window and smile. I began to look closely at all the different types of strollers people were pushing down the street. I bought a little monkey for the baby that I carried around with me. I started planning our life together. Then one day it felt like someone was stabbing me in the lower abs. I went to the doctor, and they told me that I’d had an ectopic pregnancy, and the baby was lost. I felt really alone afterward because most of my friends hadn’t even known the baby existed. They couldn’t understand how I felt. Part of it was my fault. I didn’t want to talk about it. Yet I still expected everyone to understand.“</p>
          <p class= "text-center"><a href="/person/27" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/NmEcwNo.jpg?1" alt="...">
        <div class="caption">
          <h3 class="text-center">Michaela Jackson</h3>
          <p class= "text-left">“Luis is different. He’s got two moms. He’s an old soul. We live in the projects, and he doesn’t know who Michael Jordan is, or anything about rap music. He dresses himself in the morning. He chooses a button down and slacks, and sits in the kitchen with his legs crossed and reads the newspaper. But he’s still got the heart of a child. Yesterday he had $5 to buy himself a Halloween costume, and he saw a boy he knew while he was walking to the store, and he chose to buy him a costume instead. I always tell him: ‘You’re different, Luis. And that’s OK.’ When he wants to play, I walk him all the way down to Central Park, because I don’t really want him to change.”</p>
          <p class= "text-center"><a href="/person/29" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="profileImage" src="http://i.imgur.com/Wm1JDSe.jpg?1" alt="...">
        <div class="caption">
          <h3 class="text-center">Tawnee Philips</h3>
          <p class= "text-left">“My husband and I sold everything we had to afford the journey. We worked 15 hours a day in Turkey until we had enough money to leave. The smuggler put 152 of us on a boat. Once we saw the boat, many of us wanted to go back, but he told us that anyone who turned back would not get a refund. We had no choice. Both the lower compartment and the deck were filled with people. Waves began to come into the boat so the captain told everyone to throw their baggage into the sea. In the ocean we hit a rock, but the captain told us not to worry. Water began to come into the boat, but again he told us not to worry. We were in the lower compartment and it began to fill with water. It was too tight to move. Everyone began to scream. We were the last ones to get out alive. My husband pulled me out of the window. In the ocean, he took off his life jacket and gave it to a woman. We swam for as long as possible. After several hours he told me he that he was too tired to swim and that he was going to float on his back and rest. It was so dark we could not see. The waves were high. I could hear him calling me but he got further and further away. Eventually a boat found me. They never found my husband.”</p>
          <p class= "text-center"><a href="/person/30" class="btn btn-primary" role="button">Hear More</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
