  <footer>
    <nav class="navbar navbar-inverse navbar-static-bottom">
      <div class="container" id="footer">
        <p>Made with <i class="fa fa-heart"></i> by James Chi &copy; 2015</p>
      </div>
    </nav>
  </footer>


<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>