<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Story Matters</title>
  <script src="//code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href='/'>
        <i class="fa fa-book"></i>
        Story Matters
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/#howItWorks">How It Works</a></li>
        <li><a href="/#whyGive">Why Give?</a></li>
        <li><a href="/profiles">Profiles</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if(!currentUser){ %>      
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#login">Login</button>
        <li role="separator" class="divider"></li>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#signUp">Sign Up</button>
      <% } else { %>
        <form method="GET" action="/auth/logout">
          <p class="navbar-text">Hi <%= currentUser.firstName %></p>
          <a href="/myaccount" class="btn btn-default navbar-btn
        " role="button">Your Account</a>
          <button type="submit" class="btn btn-default navbar-btn">Logout</button>
        </form>
        <% } %>
      </ul>   
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% include ../partials/alerts %>
</div>

<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="signUpLabel">Sign Up</h4>
      </div>
        <form method="POST" role="form" action="/auth/signup">
          <div class="modal-body">
          
            <div class="form-group">
              <label for="name" class="hidden">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName">
            </div>
            <div class="form-group">
              <label for="name" class="hidden">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName">
            </div>
            <div class="form-group">
              <label for="email" class="hidden">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label for="password" class="hidden">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password: Must be at least 8 characters!" name="password">
            </div>
            <div class="form-group">
              <label for="password2" class="hidden">Confirm Password</label>
              <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginLabel">Login</h4>
      </div>
      <form method="POST" role="form" action="/auth/login">
        <div class="modal-body">
          <div class="form-group">
            <label for="email" class="hidden">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="password" class="hidden">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
